<!-- section Contact -->
  <section class="about-us" id="contact">
    <div class="content" id="contact">
      <h1>CONTACT</h1> <hr style="border-color: #d1aa88;"/>
      <p class="contact">
        To contact us please use the contact form visible.
      </p><br>
    </div>

    <div class="form">
      <form class="contact-form">
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">NAME</h3>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">E-MAIL</h3>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">MESSAGE</h3>
          <textarea class="form-control" rows="5"> </textarea>
        </div>
        <button type="submit" class="btn btn-default">SEND</button>
      </form>

      <div class="content" id="subscribe">
        <h1>SUBSCRIBE</h1> <hr style="border-color: #d1aa88;"/>
        <p class="contact">
          You can subscribe our newsletters.
        </p><br>
        <form class="subscribe-form">
          <div class="form-group">
            <h3 style="margin-top: 1em; margin-bottom: 1em;">E-MAIL</h3>
            <input type="text" class="form-control">
          </div>
          <button type="submit" style="margin-bottom: 4em;" class="btn btn-default">SUBSCRIBE</button>
        </form>
      </div>

    </div>
  </section>
