<!-- section COSMO BLANC -->
<section class="about-us" id="cosmoblanc">
  <div class="content" id="cosmoblanc">
    <h1>COSMO BLANC</h1> <hr style="border-color: #d1aa88;"/>
    <p class="cosmoblanc">
      COMING SOON.
    </p>
    <div>
      <%= image_tag asset_path('cosmoblanc.jpg') %>
    </div>
  </div>
</section>
