<!-- section start-page -->
<section class="start-page" id="home" style="background">
  <div class="content">
    <div class="text">
        <%= image_tag asset_path('logo.png'), :style => "width: 300px; margin-top: 15em;"  %>
      <hr/>
      <p>Transparency is Everywhere.</p>

      <a href="#about-us"><div class="read-more">Read more</div></a>

    </div>
    <div class="arrow-down"></div>
  </div>
</section>
