<div class="content" id="About-TAGSolution">
  <h1>MARKET TREND</h1> <hr/>

  <p class="title">
 건축물이 대부분 투명한 유리로 지어질 뿐만 아니라<br>
 사인물 역시 과거 아날로그 사인부터 기술 발전에 따른 <br>
 디지털사이니지 시장까지 그 규모가 계속해서<br>
 확대되고 있으며, 다양한 형태의 사이니지 솔루션이<br>
 등장하고 있다. 그중 투명한 유리에 쉽게 적용할 수 있는<br>
 투명LED디스플레이 패널의 시장도 점점 확대되고 있다.<br>
  </p>
  <div>
    <%= image_tag asset_path('market.jpg') %>
  </div>
</div>

