
  <!-- section menu mobile -->

  <section class="menu-media">
    <div class="menu-content">
      <div class="logo"><%= image_tag asset_path('logo_black.jpg') %></div>
    </div>
  </section>

    <ul class="menu-click">
      <a href="#home"><li href="#home">HOME</li></a>
      <a href="#about-us"><li href="#about-us">ABOUT US</li></a>
      <a href="#portfolio"><li href="#portfolio">PORTFOLIO</li></a>
      <a href="#cosmoblanc"><li href="#cosmoblanc">COSMO BLANC</li></a>
      <a href="#contact"><li href="#contact">CONTACT</li></a>
    </ul>


  <!-- section menu -->

  <section class="menu">
    <div class="menu-content">
      <div class="logo"><%= image_tag asset_path('logo_black.jpg') %></div>
      <ul role="tablist" id="menu">
        <li><a href="#home" role="tab" data-toggle="tab">HOME</a></li>
        <li><a href="#about-us" role="tab" data-toggle="tab">ABOUT US</a></li>
        <li><a href="#portfolio" role="tab" data-toggle="tab">TAG PANEL</a></li>
        <li><a href="#cosmoblanc" role="tab" data-toggle="tab">COSMO BLANC</a></li>
        <li><a href="#contact" role="tab" data-toggle="tab">CONTACT</a></li>
      </ul>
    </div>
    <!-- Submenu Content -->
    <div class="tab-content">
      <div class="tab-pane fade active" id="one">
        <nav class="navbar navbar-default pull-right submenu" role="navigation">
          <ul class="nav navbar-nav in" id="one-nav">
            <li><a href="#About-TAGSolution">TAG SOLUTION</a></li>
            <li><a href="#About-members">MEMBERS</a></li>
            <li><a href="#About-Vision">VISION</a></li>
          </ul>
        </nav>
      </div>
      <div class="tab-pane fade" id="two">
        <nav class="navbar navbar-default pull-right submenu" role="navigation">
          <ul class="nav navbar-nav in" id="two-nav">
            <li><a href="#TAGPanel-introduction">INTRODUCTION</a></li>
            <li><a href="#TAGPanel-markettrend">MARKET TREND</a></li>
            <li><a href="#TAGPanel-portfolio">PORTFOLIO</a></li>
            <li><a href="#TAGPanel-potentialplaces">POTENTIAL PLACES</a></li>
            <li><a href="#TAGPanel-workingmovies">WORKING MOVIES</a></li>
          </ul>
        </nav>
      </div>
      <div class="tab-pane fade" id="three">
        <nav class="navbar navbar-default pull-right submenu" role="navigation">
          <ul class="nav navbar-nav in" id="three-nav">
            <li><a href="#Contact-contact">CONTACT</a></li>
            <li><a href="#Contact-subscribe">SUBSCRIBE</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
