<!-- section COSMO BLANC -->
<section class="newcosmoblanc" id="newcosmoblanc">
  <div class="content">
    <h1>COSMO BLANC</h1> <hr />
    <p class="title">
      COMING SOON.
    </p>
    <div>
      <%= image_tag asset_path('cosmoblanc.jpg') %>
    </div>
  </div>
</section>
