<!-- section start-page -->
<section class="new-home" id="home">
  <%= image_tag asset_path('mainpic.jpg'), class: "bg" %>

  <div class="home-content">
    <%= image_tag asset_path('logo.png') %>
    <hr/>
    <p>Transparency is Everywhere.</p>
    <a href="#about-us"><div class="read-more">Read more</div></a>
  </div>
</section>
